.App-header-container {
  size: 20px;
  color: white;
  text-align: center;
}

.App-container {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 10%;
  padding: 1%;
  background-color: none;
}

.search-bar-container {
  display: block;
  color: white;
  text-align: center;
  margin: 10%;
  padding: 1%;
  background-color: rgb(132, 0, 255);
}
